@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;900&display=swap");

body {
  margin: 0;
  font-family: Poppins, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white; /* Specifically for Codeanywhere platform - may delete otherwise */
}

/*

My colors:

Primary: #1F2937 (Main dark blue theme color)
Red: #ff0f0f (Alerts, errors, delete, etc.)
Light Gray: #EEE
Medium Gray: #DDD
White: #FFF

*/